@use "@angular/material" as mat;
@import "assets/scss/includes";

@include mat.core();

// Light Theme
$to-do-app-primary: mat.define-palette(mat.$deep-purple-palette);
$to-do-app-accent: mat.define-palette(mat.$amber-palette);
$to-do-app-warn: mat.define-palette(mat.$red-palette);
$to-do-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $to-do-app-primary,
      accent: $to-do-app-accent,
      warn: $to-do-app-warn,
    ),
  )
);
@include mat.all-component-themes($to-do-app-theme);

// Dark Theme
// $to-do-app-primary-dark: mat.define-palette(mat.$indigo-palette);
// $to-do-app-accent-dark: mat.define-palette(mat.$gray-palette);
// $to-do-app-warn-dark: mat.define-palette(mat.$red-palette);
$to-do-app-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $to-do-app-primary,
      accent: $to-do-app-accent,
      warn: $to-do-app-warn,
    ),
  )
);
.dark-theme {
  @include mat.all-component-themes($to-do-app-theme-dark);
}

@include includes-mixin($to-do-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
